<strong>Olá {{ provider }}</strong>
<p>Você tem um novo agendamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Timezone: </strong> {{ timeZone }} <br />
</p>
<img src={{ avatar }} alt="avatar" width=60 height=60>
